# .travis.yml for precrec

branches:
  only:
    - master
#    - develop
language: r
warnings_are_errors: true
sudo: required
env:
  global:
    - CRAN=http://cran.rstudio.com
    - NOT_CRAN=true
    - _R_CHECK_CRAN_INCOMING_=false
r_github_packages:
  - jimhester/covr
after_success:
  - Rscript -e 'library(covr);codecov()'
